<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="desktop">
            <div class="div">
                <div class="overlap">
                    <div class="overlap-group">
                        <div class="text-wrapper">Esraa Ahmed</div>
                        <div class="overlap-2">
                            <p class="p">And i am computer science student</p>
                            <img class="line" src="img/line-1.png" />
                            <img class="img" src="img/line-2.svg" />
                            <div class="text-wrapper-2">Hello i am</div>
                            <img class="images" src="img/images-2.png" />
                        </div>
                        <p class="i-am-a-computer">
                            I am a computer science student ,<br />
                            i am in my first year<br />my skills is problem-solving
                        </p>
                    </div>
                    <img class="images-2" src="img/images-1.png" />
                    <div class="text-wrapper-3">About me</div>
                    <div class="overlap-3">
                        <div class="ellipse"></div>
                        <div class="overlap-4">
                            <div class="ellipse-2"></div>
                            <div class="ellipse-3"></div>
                        </div>
                    </div>
                </div>
                <div class="text-wrapper-4">portfolio</div>
                <div class="text-wrapper-5">About</div>
                <div class="text-wrapper-6">Contact</div>
                <div class="text-wrapper-7">CV</div>
                <div class="ellipse-4"></div>
                <div class="text-wrapper-8">services</div>
                <div class="overlap-5">
                    <div class="group">
                        <div class="div-wrapper"><div class="text-wrapper-9">design development</div></div>
                    </div>
                    <img class="images-3" src="img/images-5.png" />
                </div>
                <div class="overlap-6">
                    <div class="text-wrapper-10">AI development</div>
                    <img class="images-4" src="img/images-3.png" />
                </div>
                <div class="overlap-7">
                    <img class="images-5" src="img/images-4.png" />
                    <div class="text-wrapper-11">web development</div>
                </div>
                <div class="overlap-8">
                    <img class="polygon" src="img/polygon-7.svg" />
                    <img class="polygon-2" src="img/polygon-8.svg" />
                    <img class="polygon-3" src="img/polygon-9.svg" />
                    <img class="polygon-4" src="img/polygon-10.svg" />
                    <img class="polygon-5" src="img/polygon-11.svg" />
                    <img class="rectangle" src="img/rectangle-5.svg" />
                    <div class="text-wrapper-12">get started with me</div>
                </div>
                <div class="overlap-9">
                    <img class="polygon-6" src="img/polygon-12.svg" />
                    <img class="polygon-7" src="img/polygon-13.svg" />
                    <img class="polygon-8" src="img/polygon-14.svg" />
                    <img class="polygon-9" src="img/polygon-15.svg" />
                    <img class="polygon-10" src="img/polygon-16.svg" />
                    <div class="rectangle-2"></div>
                    <div class="text-wrapper-13">Email address</div>
                    <div class="rectangle-3"></div>
                    <div class="text-wrapper-14">submit</div>
                </div>
                <div class="overlap-10">
                    <div class="text-wrapper-15">2023copy Rigth @Esraa Ahmed</div>
                    <img class="element" src="img/665209-1.png" />
                    <img class="element-2" src="img/665212-1.png" />
                    <img class="element-3" src="img/665211-1.png" />
                    <div class="text-wrapper-16">Home</div>
                    <div class="text-wrapper-17">about</div>
                    <div class="text-wrapper-18">contact</div>
                    <img class="element-4" src="img/1946488-1.png" />
                    <img class="element-5" src="img/3059408-1.png" />
                    <img class="element-6" src="img/7941152-1.png" />
                </div>
            </div>
        </div>
    </body>
</html>
